.orders-sidebar {
  & .back-button {
    display: none;
    margin-bottom: 15px;

    @include active-by("xl") {
      display: block;
    }
  }


  & .block {
    padding: 16px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & .date-range {
    margin-bottom: 15px;
  }

  & .product-search {
    margin-bottom: 15px;
  }

  & .year-select {
    margin-bottom: 15px;
  }

  & .search-sorts {
    display: flex;
    gap: 5px;
  }

  & .search-sort-icon {
    &.active {
      @include btn-variant(
        $bg: var(--bg_hover_btn_purple_reverse),
        $color: var(--color_btn),
        $color-hover: var(--color_btn), 
        $bg-hover: var(--bg_hover_btn_purple_reverse),
      );
    }
  }
  
}
